
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep


figures/*
!figures/.gitkeep


tables/*
!tables/.gitkeep

experiments.csv

__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
.env

.ipynb_checkpoints/


.DS_Store
Thumbs.db
